.text_color {font-size:100%; font-weight:inherit; color:#23afe3 !important;}
.bg_color {background:#23afe3;}
/*하늘색*/
.color-s{
	color:#23afe3 !important;
}
.color-f {
	color:#fff !important;
}
.color-000{
	color:#000;
}
.color-7d{
	color:#7d7d7d;
}
.color-r{
	color:#ff0000 !important;
}